.mainHeader {
    min-height: 50px;
}

.mainHeader.lazyLoad {
    visibility: hidden;
    position: fixed;
    left: 0;
    right: 0;
    transition: .5s ease-in-out;
    transform: translateY(-67px);
    z-index: 99999;
}

.navMenu {
    background: #231F20;
    border: none;
    border-radius: 0;
    margin-bottom: 0;
}

.navbarFixedTop {
    top: 0;
}