.profilePhotoSm {
    height: 40px;
    width: 40px;
    border-radius: 50%;
}

.pullLeft {
    float: left !important;
}

.textMuted {
    color: #939598;
}

.pullRight {
    float: right !important;
}

.h5 {
    margin-top: 10px;
    margin-bottom: 10px;
}

.chatImage {
    width: 100%;
    border-radius: 10px;
}