.profilePhotoSm {
    height: 40px;
    width: 40px;
    border-radius: 50%;
}

.pullLeft {
    float: left !important;
}

.textMuted {
    color: #939598;
}

.pullRight {
    float: right !important;
}