.appBtn {
    padding: 0;
    margin: 0;
    display: inline-block;
}

.appBtn li {
    display: inline-block;
    list-style: none;
    padding-left: 10px;
    padding-right: 10px;
}

.btnSecondary {
    background: linear-gradient(to bottom, rgba(109, 110, 113, 1), rgba(0, 0, 0, 1));
    padding: 0 40px;
    border: none;
    min-height: 36px;
    font-size: 18px;
    border-radius: 6px;
    color: #fff;
    position: relative;
    outline: none;
    padding: 8px 15px;
}

.slideUp {
    visibility: hidden;
}


.slideUp.appear {
    animation-name: slideUp;
    -webkit-animation-name: slideUp;

    animation-duration: 1s;
    -webkit-animation-duration: 1s;

    animation-timing-function: ease;
    -webkit-animation-timing-function: ease;

    visibility: visible !important;
}

@keyframes slideUp {
    0% {
        transform: translateY(100%);
    }

    50% {
        transform: translateY(-8%);
    }

    65% {
        transform: translateY(4%);
    }

    80% {
        transform: translateY(-4%);
    }

    95% {
        transform: translateY(2%);
    }

    100% {
        transform: translateY(0%);
    }
}

@-webkit-keyframes slideUp {
    0% {
        -webkit-transform: translateY(100%);
    }

    50% {
        -webkit-transform: translateY(-8%);
    }

    65% {
        -webkit-transform: translateY(4%);
    }

    80% {
        -webkit-transform: translateY(-4%);
    }

    95% {
        -webkit-transform: translateY(2%);
    }

    100% {
        -webkit-transform: translateY(0%);
    }
}